<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CSS</title>
    <link rel="stylesheet" href="/css/test.css">
</head>
<body>
    <div class="panel h-5 f-center">
        <p class="text l-main" style="margin: 0.25vh 0px;">Juke<span class="text l-alt">Host</span></p>
    </div>
    <div class="panel h-5 nav">
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Login</li>
        </ul>
    </div>
    <div class="panel has-border-bottom h-60"></div>
</body>
</html>
